<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">Movie Finder</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>Find a movie</h1>
        <h4>Search for a movie</h4>
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <input [ngFormControl]="searchBox" type="text" maxlength="20" class="form-control" placeholder="Search for...">
                </div>
                <div *ngIf="moviesSearched">
                    <div *ngIf="moviesSearched.length <= 0" class="panel panel-default">
                        <h3 class="panel-title">No results found</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div *ngIf="moviesSearched && moviesSearched.length > 0" class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Search Results</h3>
            </div>
            <div class="panel-body">
                <div *ngFor="let movie of moviesSearched, let i = index">
                    <div *ngIf="i < 6">
                        <div class="col-md-2 movies">
                            <img *ngIf="movie.poster_path" src="http://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="{{ movie.title }}">
                            <h4 class="title_space">
                                <span class="releaseDate">{{movie.release_date | date:'dd-MM-yyyy'}}</span>
                                <div>{{ movie.title }}</div>
                            </h4>
                            <p><button class="btn btn-movies" (click)="onClickDetail(movie)" role="button">View details</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- movies list from movies.component -->
    <div class="row">
        <router-outlet></router-outlet>
    </div>

    <hr>

    <footer>
        <p>&copy; 2015 Movie Finder, Inc.</p>
    </footer>
</div>
<!-- /container -->